div.cntWrap{
    margin-top: 40px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    background-color: rgb(88, 88, 88);
    color: #fff;
    width: 100vw;
    margin-left: calc((100vw - 1080px) / -2);
    padding-top: 160px;
    padding-bottom: 280px;
    text-align: center;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 25px;
    line-height: 80px;
}
div.cntWrap>div.content>div.header>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    width: calc(80% / 12 * 8);
    margin: 0 auto;
}
div.cntWrap>div.content>div.section{
    background-color: #fff;
    margin-top: -200px;
    box-shadow: 2px 2px 4px #000;
}
div.cntWrap>div.content>div.section>div.article{}
/* div.cntWrap>div.content>div.section>div.article>div.image{} */
div.cntWrap>div.content>div.section>div.article>div.texts{
    text-align: center;
    padding: 80px calc(100% / 12 * 4);
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 15px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    height: 100px;
    overflow: hidden;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 4 * 2);
    line-height: 40px;
    text-align: center;
    background-color: gray;
    color: white;
    text-transform: uppercase;
    margin: 20px auto 0;
    border-radius: 20px;
    cursor: pointer;
}
