div.cntWrap{}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header{
  background-color: gray;
  width: 100vw;
  margin-left: calc((100vw - 1080px ) / -2);
  color: #fff;
  text-transform: capitalize;
  padding-top: 160px;
  padding-bottom: 280px;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  font-weight: 700;
}
div.cntWrap>div.content>div.header>p{
  width: 35%;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
div.cntWrap>div.content>div.section{
  box-shadow: 2px 2px 4px #333;
  margin-top: -200px;
  background-color: #fff;
}
div.cntWrap>div.content>div.section>div.article{}
div.cntWrap>div.content>div.section>div.article>div.image{}
div.cntWrap>div.content>div.section>div.article>div.texts{
  padding-top: 80px;
  padding-bottom: 80px;
  
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
  font-size: 25px;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  text-align: center;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
  height: 100px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: calc(100% / 12 * 4);
  margin: 0 auto;
  overflow: hidden;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{
  line-height: 40px;
  text-transform: uppercase;
  width: calc(100% / 12 * 2.5);
  text-align: center;
  margin: 0 auto;
  background-color: rgb(84, 84, 84);
  color: #fff;
  border-radius: 20px;
  margin-top: 20px;
}

div.cntWrap>div.content>div.section>div.article>div.texts>div.btn:hover{
  background-color: purple;
  cursor: pointer;
}