i{
  font-size: 500px;
  padding-left: 1000px;
  padding-right: 400px;
}
/* 메뉴탑 */
div.mntopWrap{}
div.mntopWrap>div.menuTop{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  height: 40px;
  outline: 2px solid black;
}
div.mntopWrap>div.menuTop>div.logos{}
div.mntopWrap>div.menuTop>div.logos>i{}
div.mntopWrap>div.menuTop>ul.nav{}
div.mntopWrap>div.menuTop>ul.nav>li{}

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  height: 80px;
  outline: 2px solid black;
}
div.hdrWrap>div.header>h1{}
div.hdrWrap>div.header>ul.nav{}
div.hdrWrap>div.header>ul.nav>li{}
div.hdrWrap>div.header>ul.nav>li>i{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  outline: 2px solid black;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{}
div.cntWrap>div.content>div.header>p{}
div.cntWrap>div.content>div.section{}
div.cntWrap>div.content>div.section>div.article{}
div.cntWrap>div.content>div.section>div.article>div.image{}
div.cntWrap>div.content>div.section>div.article>div.texts{}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content>div.section>div.article>div.texts>p{}
div.cntWrap>div.content>div.section>div.article>div.texts>div.sns{}
div.cntWrap>div.content>div.section>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content>div.section>div.article>div.texts>div.btn{}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
  height: 1640px;
}
/* 헤더 */
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
/* 섹션 */
div.cntWrap>div.content.cnt01>div.section{}
/* 아티클탑 */
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{}
/* 이미지 */
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image.i2{}
/* 텍스트 */
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
/* 아티클바텀 */
div.cntWrap>div.content.cnt01>div.section>div.artBtm{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{}
/* 이미지 */
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image.i3{}
/* 텍스트 */
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}


/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
  height: 1080px;
}
/* 헤더 */
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{}
/* 섹션 */
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
/* 이미지 */
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{}
/* 텍스트 */
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
  height: 600px;
}
/* 헤더 */
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
/* 섹션 */
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section>div.article{}
/* 이미지 */
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
/* 텍스트 */
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{}

/* 푸터 */
div.ftrWrap{}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  height: 360px;
  outline: 2px solid black;
}
div.ftrWrap>div.footer>h1{}
div.ftrWrap>div.footer>p{}
div.ftrWrap>div.footer>div.sns{}
div.ftrWrap>div.footer>div.sns>i{}