ul{
  list-style: none;
}
ul>li{
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  margin: 5px 0px;
  text-align: center;
}
ul>li:nth-child(1){
  background-color: aqua;
}

ul>li:nth-child(2){
  background-color: aquamarine;
}
ul>li:nth-child(3){
  background-color: blue;
}
ul>li:nth-child(4){
  background-color: cadetblue;
}
ul>li:nth-child(5){
  background-color: cornflowerblue;
}


ul>li:nth-child(1)+li{
  background-color: blanchedalmond;
}

ul>li:nth-child(2)~li{
  height: 50px;
}

ul>li:nth-child(4)+li{
  width: 500px;
}

ul>li:nth-child(1)~li{
  background-color: #fc0;
}

ul>li.first+li.second{}

ul>li.second+li.third{
  width: 1000px;
}
