.image{
  background-color: #f19ec2;
}

/* 헤더 */
div.hdrWrap{
  background-color: #c46eb1;
}
div.hdrWrap::after{
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-color: #000;
  margin-top: -40px;
}
div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 40px;
}
div.hdrWrap>div.header::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>h1{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
div.hdrWrap>div.header>ul.menu::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>ul.menu>li{
  float: left;
  font-size: 25px;
  line-height: 40px;
}
div.hdrWrap>div.header>ul.nav{
  float: right; 
  margin-top: 40px;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  line-height: 40px;
  text-transform: capitalize;
  margin-left: 30px;
  color: #fff;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header{
  text-align: center;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 80px;
}
div.cntWrap>div.content>div.header>p{
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
div.cntWrap>div.content>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 700;
  color: #ca266e;
}
div.cntWrap>div.content>div.section div.article>div.texts>p{
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
}

/* 컨텐츠1 */

div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1)~div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  width: calc(100% / 12 * 6 - 10px);
  height: 280px;
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.image{
  float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  width: calc(100% / 12 * 6 + 10px);
  float: left;
  text-align: center;
  background-color: #fbe2ed;
  padding: 60px calc(100% / 12) 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts{
  float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{
  line-height: 40px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  height: 120px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02>div.section div.article{
  width: calc(100% / 12 * 7 - 20px);
  margin: 0 10px;
  float: left;
}
div.cntWrap>div.content.cnt02>div.section div.article>div.image{
  height: 480px;
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt{
  width: calc(100% / 12 * 5 - 20px);
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt>div.texts>p{
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section div.article.artTxt>div.image{
  height: 360px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
  margin-top: 80px;
}



/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2)~div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1){
  width: calc(100% / 4 * 3 - 20px);
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.image{
  width: calc(100% / 9 * 2.8);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts{
  width: calc(100% / 9 * 6);
  float: left;
  padding: 40px 0px 0px 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts>p{
  margin-top: 20px;
}

/* 컨텐츠4 */
div.cntWrap>div.content.cnt04::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.header{
  width: calc(100% / 12 * 3);
  float: left;
  text-align: left;
  padding-top: 80px;
}
div.cntWrap>div.content.cnt04>div.header>h2{
  line-height: 40px;
  font-size: 40px;
  text-transform: capitalize;
}
div.cntWrap>div.content.cnt04>div.header>p{
  margin-top: 40px;
  width: 100%;
}
div.cntWrap>div.content.cnt04>div.header>div.btn{
  border: 1px solid black;
  line-height: 40px;
  text-transform: capitalize;
  font-size: 20px;
  width: calc(100% / 3 * 1.8);
  text-align: center;
}
div.cntWrap>div.content.cnt04>div.header>div.btn:nth-child(3){
  margin-top: 20px;
}
div.cntWrap>div.content.cnt04>div.header>div.btn:nth-child(4){
  margin-top: 15px;
}
div.cntWrap>div.content.cnt04>div.section{
  width: calc(100% / 12 * 9);
  float: left;
  margin-top: 0px;
  position: relative;
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
  width: calc((100vw - 1080px) / 2 + 100%);
  min-width: calc((100vw - 80vw) / 2 + 100%);
  overflow: hidden;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
  width: 110%;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup:after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>div.image{
  height: 480px;
  background-color: #333;
}
div.cntWrap>div.content.cnt04>div.section>div.btn{
  font-size: 72px;
  line-height: 80px;
  height: 80px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  color: #fff;
  right: -72px;
  text-shadow: 1px 1px 2px #000;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>h4{
  font-size: 20px;
  line-height: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per{
  width: 30%;
  height: 10px;
  background-color: #000;
}