/* 헤더  */
div.hdrWrap{
  background-color: #c46eb1;
}

div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.hdrWrap>div.header>h1{
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
div.hdrWrap>div.header>ul.menu::after{
  content: '';
  display: block;
  clear: both;
}
div.hdrWrap>div.header>ul.menu>li{
  float: left;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}
div.hdrWrap>div.header>ul.menu>li>i{}
div.navWrap{
  background-color: #000;
}
div.navWrap::after{
  content: '';
  display: block;
  clear: both;
}
div.navWrap>div.navigation{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.navWrap>div.navigation::after{
  content: '';
  display: block;
  clear: both;
}
div.navWrap>div.navigation>ul.nav{
  color: #fff;
  margin-left: 50%;
  float: right;
}
div.navWrap>div.navigation>ul.nav::after{
  content: '';
  display: block;
  clear: both;
}
div.navWrap>div.navigation>ul.nav>li{
  float: left;
  line-height: 60px;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0px 15px;
}

/* 컨텐츠 공통 */
div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 25px;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  
}
div.cntWrap>div.content>div.header>p{
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  width: calc(100% / 12 * 6);
  text-align: center;
}
div.cntWrap>div.content>div.section{
  margin-top: 40px;
}
div.cntWrap>div.content>div.section div.article div.texts{
  text-align: center;
}
div.cntWrap>div.content>div.section div.article h3{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
}
div.cntWrap>div.content>div.section div.article p{
  font-size: 14px;
  line-height: 20px;
  height: 40px;
}
div.cntWrap>div.content>div.section div.article div.image{
  background-color: #f19ec2;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:hover>div.texts{
  left: -50%;
}
div.cntWrap>div.content.cnt01>div.section>div.article:hover>div.texts::after{
  opacity: 0.2;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(1){
  margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.texts{
  float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2):hover>div.texts{
  right: -50%;
  left: auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(2)>div.image{
  float: right;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  content:'';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  width: 50%;
  float: left;
  height: 280px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  width: 50%;
  float: left;
  padding: 40px calc(100% / 12);
  position: relative;
}

div.cntWrap>div.content.cnt01>div.section>div.article>div.texts::after{
  content: '';
  display: block;
  background-color: #ccc;
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  position: relative;
  z-index: 5;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h4:nth-child(2){
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  margin-top: 20px;
  position: relative;
  height: 120px;
  z-index: 5;
  overflow: hidden;
}
/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.artTop{}
div.cntWrap>div.content.cnt02>div.section>div.artTop::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article.artTxt{
  width: calc(100% / 12 * 5 - 20px);
  float: left;
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article.artTxt>div.texts{
  text-align: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article.artTxt>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article.artTxt>div.texts>p{
  height: 60px;
  overflow: hidden;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article.artTxt>div.image.i1{
  height: 360px;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
  width: calc(100% / 12 * 7 - 20px);
  float: left;
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.image.i2{
  height: 480px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{
  width: calc(100% / 12 * 7 - 20px);
  float: left;
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image.i3{
  height: 480px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article.artTxt{
  width: calc(100% / 12 * 5 - 20px);
  float: left;
  margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article.artTxt>div.texts{
  text-align: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article.artTxt>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article.artTxt>div.texts>p{
  height: 60px;
  overflow: hidden;
  margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article.artTxt>div.image.i4{
  height: 360px;
  margin-top: 20px;
}
/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
  content: '';
  display: block;
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
  width: calc(100% / 4 - 20px);
  float: left;
  margin: 0 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2)~div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1){
  width: calc(100% / 4 * 3 - 20px);
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1):after{
  display: block;
  clear: both;
  content: '';
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.image{
  width: calc(100% / 3 - 13.5px);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts{
  width: calc(100% / 3 * 2);
  float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  height: 280px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)>div.texts{
  padding: 40px 20px 80px;
  text-align: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
  height: 60px;
  overflow: hidden;
  margin-top: 20px;
}