body{
    overflow-x: hidden;
}
.cntWrap{
    margin-top: 160px;
    padding-bottom: 160px;
}
.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
header{
    width: calc(100% / 12 * 5);
    padding-left: 20px;
}
header h2{
    line-height: 80px;
    font-weight: 700;
    font-size: 36px;
}
header p{
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
section{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 100%;
}
article.artLeft{
    width: calc(100% / 12 * 5 - 20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
article.artRight{
    width: calc(100% / 12 * 7 - 20px);
}
section h3{
    line-height: 40px;
    font-weight: 700;
    font-size: 24px;
}
section p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
.i1{
    direction: rtl;
    margin-top: 40px;
}
.texts{
    padding-left: 20px;
    padding-right: 40px;
}
.ovrGrid{
    width: calc(100% + (100vw - 1080px) / 2);
    min-width: calc(100% + (100vw - 80vw) / 2);
    height: 440px;
    background-color: #555;
}
.artRight .texts{
    margin-top: 40px;
}